body,html {
    margin: 0;
    background: url('../img/4.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.blogshader {
    background: #00000060;
    /* background: #00000060; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    border-radius: .25rem;
}
.blogshader .header {
    font-size: 15px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
}
.body.blogshader {
    margin-top: 10px;
}
.body.blogshader h5{
    color: #fff;
    font-weight: 400;
    font-size: 17px;
}
.body.blogshader .header {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.clear {
    clear: both;
}

.article-content {
    color: #fff;
}
.article-content img {
    margin: 5px;
}
/* 头部导航 */
#top-menu {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 10;
}

/* 侧边栏 左 导航 */
#left-menu {
    width: 180px;
    height: 100vh;
    position: fixed;
    z-index: 10;
    transition: all 0.3s ease;
}
#left-menu.xs {
    margin-left: -200px;
    transition: all 0.3s ease;
}
#left-menu #left-btn {
    font-size: 35px;
    color: #ffc815;
    position: absolute;
    left: 200px;
    height: 50px;
    display: flex;
    align-items: center;
}

/* 页面内容 */
#content {
    position: relative;
    top: 60px;
    /* background-color:#ffc815; */
    margin-left: 220px;
    margin-right: 20px;
    padding: 10px 0;
}
#content.xs {
    margin-left: 20px;
}
#content.lg {
    margin-left: 20px;
}
/* 页面底部 */
#footer {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    padding: 2px 0;
}
#footer a{
    color: #19baeb;
  }
#footer a:hover {
    color: #ffffff;
    text-decoration-line: none;
  }

/* #其他 */
.el-submenu__title:hover {
    /* !important表示提高优先级 */
    background-color: #00000060!important;
}
.el-menu-item:hover {
    background-color: #00000060!important;
}
.el-menu {
    border: none;
}
.el-menu i {
    color: #ffc815;
}
/* AddArticle组件中的样式，因为局部无法直接修改框架中的样式，所以放全局中修改 */
.el-form-item__label {
    color: #fff!important;
}
.el-input input {
    background: #00000060;
    color: #fff;
    border: none;
}

.el-divider--horizontal {
    margin: 10px 0;
}

.el-transfer-panel {
    background: #00000060;
}

.el-transfer-panel .el-transfer-panel__header {
    background: #00000060;
}

.el-transfer-panel .el-transfer-panel__header .el-checkbox .el-checkbox__label {
    color: #fff;
}

.el-transfer-panel__item.el-checkbox {
    color: #ffffff;
}

.el-tree {
    background: #00000060;
    color: #fff;
}

.el-tree-node__content:hover{
    background: #ffc81560;
}
.el-tree-node:focus>.el-tree-node__content {
    background-color: #ffc81560;
}
.el-popover {
    background: #000000;
}
/* summernote */
.note-btn {
    color: #fff;
}
.note-btn:hover {
    color: #ffc815;
}
.dropdown-menu {
    background: #00000060;
    color: #fff;
}
.dropdown-menu a {
    color: #fff;
}
.popover {
    background-color: #00000060;
}
.note-editable {
    background: #00000060;
    color: #fff;
}
.el-textarea__inner {
    background: #00000060;
    border: none;
    color: #fff;
}
/* 文章列表页的面包屑 */
.el-breadcrumb__inner a, .el-breadcrumb__inner.is-link {
    color: #fff;
}
.el-breadcrumb__inner {
    color: #fff;
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner {
    color: rgb(255, 208, 75);
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
    color: #fff;
}
/* 分页器 */
.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: rgb(255, 208, 75);
    color: #FFF;
}
.el-pagination.is-background .el-pager li {
    background-color: #00000060;
}
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li {
    background-color: #00000060;
    color: #fff;
}



/* template50 */